extends _diseases_base.pug

block content
  section#main
    section.content
      h3.heading 男性更年期障害
      p
        | 更年期障害は女性だけでなく、男性にも起こります。
        | これは、男性ホルモンが減少することによって起こると考えられています。
        | 症状も女性の更年期障害に見られる症状と同じで、主な症状としては、
        | 「めまい・耳鳴り・不眠・頭痛・不安感・イライラ」などの精神的な症状、のぼせ・動悸・発汗・倦怠感・頻尿・性欲低下などです。
        | 最初は、集中力の低下ややる気・根気が無くなると言った症状から始まる場合が多いようです。
      p
        | 但し、これらの症状が現れたら、いくら忙しくても自己判断で「男性更年期障害」だと決めるのは危険です。
        | 必ず医療機関へ行かれ検査をしましょう。大きな病気が隠れている場合が有り、放置していると命に関わる可能性もあります。
        | 「男性更年期障害」は、あくまでこれらの症状が出ているにも関わらず、医療機関で精密検査をしてもどこにも異常がない場合です。
      p
        | 治療手段として西洋医学的には、女性と同じでホルモン補充療法が有りますが、副作用を伴うことも少なくありません。
        | 漢方では、「男性更年期障害」は「鬱証」の範疇に入ります。
        | しかし、自律神経失調症などと異なるのは、加齢に伴う「腎精の不足」が根本に存在しています。
      p
        | 「腎は精を蔵する」と言う臓器で、「腎精」の減少と男性更年期は深く繋がっていますが、齢と共に「腎精」が不足するのは全ての男性で言えることです。
        | しかし、男性更年期障害を起こす人も居れば、全く平気な方も多くおられます。
        | ですので原因はこれだけではなく、他にもいろいろな要因があり、複合的に考えていかなければなりません。
      h4.topic 男性更年期障害の漢方
      p 大きく4つに分けることができます。
      p
        b 腎精不足
      p
        | 男性の場合、腎精は8の倍数で節目があると漢方では考えられています。
        | 8×5=40歳頃から毛髪が抜け初め、白髪も多くなって来ます。このあたりから「「腎精不足」の兆候が現れ、男性更年期障害の症状も現れてきます。
        | 「腎精」は、8×8=64歳まで、減少をし続けます。房事過多（セックスのし過ぎ）や過度の疲労がある場合は、この年齢よりも早く「腎精不足」が現れる事も有ります。
      p
        b 気血不足
      p
        | 脾は後天の本と言い、気や血を作り出す源になります。
        | 何らかの原因で脾胃（消化器系）が虚すと「気」や「血」の生成が出来なくなり「気血不足」を起こします。
        | これらが起こると「気虚」や「血虚」の症状が現れ、やる気が無くなったり、めまいや不眠・動悸などの症状も現れます。
      p
        b 肝気鬱結
      p
        | 肝の疎泄が乱れることで、日常にうけるストレスを上手く処理できなくなります。
        | または、ストレスが強く「肝の疎泄」を乱してしまいます。
        | これらが原因で「肝気鬱結」を起こす事で、気の流れが悪くなり「お血」が生じたり、気分が沈んだりします。
        | また、性器は肝に属しますので、痛みや勃起不全など性器にも異常が現れる場合もあります。
      p
        b 湿熱
      p
        | 何らかの原因で、湿（身体に不必要な水分）や身体に不要な熱が発生すると、これらは「湿熱」を発生させます。
        | この湿熱が経絡（気血・津液など身体に必要な物が流れる道）を阻害して、気血の運行を悪くしてしまう事で、倦怠感や軟便・下痢、めまい等の症状が現れます。
        | 特に日頃から飲酒の多い方や食生活が悪い方に多く見られます。
      p
        | 但し、これらは基本的な考え方です。
        | 実際にはこれらが重なって発生している場合が少なくありません。
        | 漢方では、崩れたからだのバランスを整える事で、これらの症状を治していきます。
      h4.topic 男性更年期障害の治療でよく使われる漢方薬
      p
      ul
        li 知柏地黄丸
        li 柴胡加竜骨牡蠣湯
        li 加味逍遙散
        li 天王補心丸
        li 杞菊地黄丸
        li 八味地黄丸
        li 鹿茸大補湯
      p
      p
        | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
        | 当店で取扱をいたしております漢方薬は全て医薬品です
      p
        | 漢方薬は自己判断で服用しないようにしましょう。
        | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
        | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。

