extends _diseases_base.pug

block content
  section#main
    section.content
      h3.heading 耳管開放症
      p
        | 耳管開放症は、鼻腔奥ののどに近い所にある耳管開閉口が開いたままになるだめに起こる耳の不快な症状です。
        | 耳管は中耳につながっているため、自身の呼吸音や声が耳管を通し鼓膜から外耳に音が漏れ、とてもうるさく耐えがたい症状が現れます。
        | 耳管の異常には、耳管狭窄症もありますが、どちらも耳閉感やめまいのような症状はあっても、耳管狭窄症では自分の声が耳で響くような事はありません。
        | 現代医学では、いろいろに治療法が試みられていますが、未だにこれと言った確実な治療法が見つけられていませんし、
        | 更に、専門家であっても、この病名を知らない方が少なくありません。
      p
        | 耳管開放症の原因として良く挙げられているのは、ストレス・妊婦・急激な体重減少（特に顔や首周りの痩せ）・歯の噛み合わせが悪い・顎関節症などです。
      p
        | 漢方では、耳管開放症を「耳閉失聡（じへいしっそう）」と言い、「耳聾（じろう）」の範疇と考えます。
        | 原因は、局所組織の萎縮や筋張力の不足、神経麻痺等が良く見られます。これらを漢方医学的に診ますと、気血や正気の不足の範疇に属します。
        | 気虚は、耳の経絡（気血が流れる通路）の脈気の不足があるため、耳管の正常閉鎖機能に脱力が生じて異常開放状態となります。
        | また陰血（体内の栄養物質）の不足は津液（しんえき：身体に必要な水液）の不足を起こし、
        | そのために耳管は滋養潤沢失調となるために乾いたり萎縮したりするため、耳管開閉口が密着する事が出来ずに異常開放状態となります。
      h4.topic 耳管開放症の分類
      p
        b 気虚タイプ
      p
        | 症状は、時に短く、時に重く、良くなったり悪くなったりと変化して、多くの場合は持続時間が比較的短い。
        | また、疲れやすい・汗をかきやすい・暑がりで寒がりなど、気虚の症状を伴います。
      p
        b 陰虚タイプ
      p
        | 症状は間歇性（ときどき）であることが多く、その持続時間は気虚タイプよりも長い。
        | 鼻粘膜に潤いがなく、乾燥している事もある。
        | 鼻腔の乾燥感、咽頭部の乾燥感、口渇など陰虚の症状を伴います。
      p
        | 以上は、大雑把な分類です。
        br
        | 人の体は、それぞれ個性がありますので、もっと詳しく体質を調べて行かなければ正しい漢方薬を選ぶ事が出来ません。漢方治療は、「なぜ気虚になったのか？」「なぜ陰虚が生じたのか？」など、もっと深い所から考察してその人の体質を調べて漢方薬を選びます。
        | 更に、上述しました原因でけだなく、「肝の疎泄（そせつ：自律神経のコントロール等）」等が関係している場合や両方とも兼ね備えた「気陰両虚」というタイプも多く、同じような症状でも同じ漢方薬が効いたり効かなかったりします。
        | 漢方治療を使われる時、よく「加味帰脾湯」の名前があがりますが、この処方で効く方はほんの一部の方に過ぎません。漢方薬は、一人一人の体質に合わせて処方される薬ですから、同じ疾患・症状であっても人が変われば薬も変わってくるのです。
      h4.topic 耳管開放症の治療でよく使われる漢方薬
      p
      ul
        li 補中益気湯
        li 黄耆建中湯
        li 芍薬甘草湯
        li 辛夷清肺湯
        li 知柏地黄丸
        li 逍遙散
        li 四逆湯
        li 附子理中湯
      p
      p
        | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
        | 当店で取扱をいたしております漢方薬は全て医薬品です
      p
        | 漢方薬は自己判断で服用しないようにしましょう。
        | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
        | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。

