extends _diseases_base.pug

block content
  section#main
    section.content
      h3.heading 慢性疲労
      p
        b 寝ても休んでも取れない疲労感。そんなに疲れることをしていないのに、何となく疲れが取れない。
        br
        | こんな症状でお困りではありませんか？
      p
        | 慢性疲労は、漢方では気血（身体に必要な栄養物質やエネルギー）が体の隅々まで巡らない事が原因と考えます。
      h4.topic どうして気血が全身に巡らないのか
      p
        | １つは、気血そのものが不足していて、全身を巡らすだけの十分な気血がないと言う事です。
        | これは漢方では「虚」と考えます。
      p
        | もう一つは、気血の不足はそれほど深刻ではないのに、気血を全身に巡らせるための通路（経絡）が、痰湿などで邪魔を
        | され、十分に気血を巡らせることが出来なかったり、ストレスなどで「気（気功などで言う気です）」の流れが悪くなり、
        | 全身に気血を巡らせることが出来ないと言う事です。
        | これは漢方では「実」と考えます。
      p
        | このように、教科書的には２つのタイプに分かれますが、実際ではこのような教科書通りのタイプには分けられません。
        | 殆どの場合が、「虚」も「実」も存在する「虚実挟雑」と言う状態です。
      p
        | この場合は、「虚」を補いながら「実」を瀉すと言う治療法を使います。同じ慢性疲労でも、体質や原因によって様々な漢方薬を使用します。
      h4.topic 慢性疲労の治療でよく使われる漢方薬
      p
      ul
        li 補中益気湯
        li 人参湯
        li 小建中湯
        li 逍遙散
        li 小柴胡湯
        li 人参養栄湯
        li 鹿茸大補湯
      p
      p
        | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
        | 当店で取扱をいたしております漢方薬は全て医薬品です
      p
        | 漢方薬は自己判断で服用しないようにしましょう。
        | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
        | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。

