__pycache__/
*.py[cod]
*.pyc
*.py.bak
.DS_Store
.python-version
.coverage
.vscode*
.vs/
# Django stuff:
*.log
!.gitkeep
.tags*
.pytest_cache/*
application/.pytest_cache/*

local/*

myenv/

*.dump
*.dump.gz
*.swp
*.psd
*.ai
*.pdf
*.icloud

*.psd
pug/dist/*