| {% extends 'base.html' %}
| {% block content %}
section#main
  section.content
    h3.heading この度は、お買上頂きありがとうございました
    p
      | この封印シールは、当店からお客様のお手元へ、安全にお届けできた事を確認するためのものです。
      br
      | 開封される時は、このシールがはずれていないか、破れたりしわが寄ったり、一度開封したような不自然さがないか？を必ず確認してください。
      br
    p
      | 海外では、配達途中で開封されていたり、通関検査で抜き取られていたりする事もあります。
      | 日本国内では、そういう心配はありませんが、将来にわたって国内の秩序が守られているとは限りませんし、悪意で内容物をすり替えられるという事が起こる可能性も否定出来ません。
      | これらを防止する目的で、この封印シールを貼り付けております。
      br
      b 万が一、開封された形跡がございましたら、絶対に服用しないで直ぐにご連絡ください。
    p
      | Tel: 077-563-4702
      br
      | Fax: 077-563-9716
      br
    p
      | Mail: ms@seisindo.com
      br
      | 漢方のセイシンドー
| {% endblock %}\
