extends _diseases_base.pug

block content
  section#main
    section.content
      h3.heading アトピー性皮膚炎
      p
        | 昔は「大きくなったら治る」と言われていたアトピー性皮膚炎。
        | 確かに、30~40年前ならその通りでした。しかし、今はそんな常識が通用しません。
      h4.topic なぜ大人になっても治らないのか
      p
        | 今も昔もアトピー性皮膚炎になる原因は同じです。
        | しかし、生活環境が異なるためにアトピー性皮膚炎をどんどん悪化させています。
        | 漢方では、先天的・後天的に陽気が不足することで、営衛調和が崩れアトピー性皮膚炎が生じると考えます。
        | しかし、大きくなるにつれて｢脾胃（消化器系）」もしっかりしてきますので、不足した陽気も補う事ができ、成長と共に治っていました。
      p
        | では、なぜ今ではそうならないのでしょう？
        br
        | 昔の食生活や生活環境を思い出して下さい。食生活は今のように洋風化はしていなかったですし、食卓には季節感が有りました。
        | 生活環境もそうです。夜の8時9時にもなればどこの店も閉まっていましたし、生活リズムにメリハリがありました。
        | このような人間の本来の生活リズムに近い環境ですと、我々の身体が持つ自然治癒力が活発になり、成長と共に治っていたのです。
        br
        | しかし、現在の食生活や生活環境を考えてみて下さい。昔は毎日の食卓で日常茶飯事に食べていた物が、今では滅多とお目にかかりません。
        | しかも冬でもトマトやキュウリが食卓に並び、お茶や水のように牛乳やジュースを飲むことができ、旬の野菜や魚は何なのか？がわからなくなっています。
        | 24時間営業の店が多くなり、深夜に働く人も遊ぶ人も多くなりました。
        | このような生活環境の中で自己の持つ自然治癒力を引き出すことが出来ず、アトピー性皮膚炎は治ることなくどんどん悪化していくのです。
        | 地球上で自然と逆らって生活していくには、それなりの代償が必要なんです。これは他の動植物も人間も同じです。
      h4.topic 乳幼児のアトピー性皮膚炎
      p
        b 乳児のアトピー性皮膚炎の特徴
      p
        | 耳の周りがただれる「施耳瘡」が出来たり、頬や頭に丘疹が出来ると言うように、頭や顔・首に集中して症状が現れるのが特徴です。
      p
        b 幼小児期のアトピー性皮膚炎の特徴
      p
        | 乳児期の間に治らないまま3~4歳の乳児期になると、皮膚を掻くと言った事のほか、不適切な食生活、ステロイド剤の使用による「二次性皮膚障害」が加わります。
        | 熱（身体にとって不要な熱）の力が強くなるので症状が複雑になっていきます。
        | この状態が長期間続くと、難治性のアトピー性皮膚炎となり、成人以降も引きずることになります。
      p
        b 成人のアトピー性皮膚炎の特徴
      p
        | 成人のアトピー性皮膚炎では、湿疹型から始まる場合や乾燥型から始まる場合があります。
        | 湿疹型で始まる多くの場合は、湿熱併重の湿疹が発生し身体の奥深くまで影響が及んでいるいます。
        | また乾燥型の場合、熱（身体にとって不要な熱）の影響を受け続けると「傷陰（必要な水分・養分が消耗する）」され、症状の変化と進行が加速されて患部は全身に広がります。
      h4.topic 歳を重ねる毎に治療が難しくなる
      p
        | このようにアトピー性皮膚炎は、歳を重ねる毎に治療が難しくなっていきます。
        | 特に成人のアトピー性皮膚炎では、とても複雑な状態になっているため、一足飛びで良くなることは有りません。
        | 「○○を飲んだら治った！」とか、患者さんの心の隙間に入り込んだ詐欺まがいの商売も多く見かけられます。
        | 長い年月をかけて崩してきた身体のバランスは、そんな簡単に元へ戻ることは有りません。
        | アトピー性皮膚炎の治療は漢方医学でもとても難しい疾患の１つです。
      p
        | また、上記の事からもわかりますように、乳児のアトピー性皮膚炎・幼小児のアトピー性皮膚炎・成人のアトピー性皮膚炎では、それぞれ治し方も違いますし使用する漢方処方も異なります。
      h4.topic アトピー性皮膚炎の治療でよく使われる漢方薬
      p
      ul
        li 補中益気湯
        li 温清飲
        li 黄連阿膠湯
        li 消風散
        li 知柏地黄丸
        li 当帰飲子
        li 冠脈通塞丸
      p
      p
        | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
        | 当店で取扱をいたしております漢方薬は全て医薬品です
      p
        | 漢方薬は自己判断で服用しないようにしましょう。
        | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
        | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
      h4.topic おすすめの漢方薬
      p
        b ビデンス・ピローサ
        br
        img(src=staticRoot + "static/img/cpl.jpg", width='50')
        br
        | ビデンス・ピローサは、亜熱帯から熱帯地域に広く自生するキク科センダングサ属のタチアワユキセンダングサの学名です。
        | 皮膚に良いと言われています。乾燥した部位の保湿にお勧めします！！
        | 95g 3900円（税抜き価格）

