{% extends 'base.html' %}

{% block content %}
<section id="main">
  <section class="content">
    <h3 class="heading">アレルギー性鼻炎・花粉症</h3>
    <p>
      漢方では、花粉やハウスダストなどのアレルゲンを「風邪（ふうじゃ）」と考えます。
      健康な人では、衛気と言う「気（気功などで言う気です）」が、体表部や外界からの邪の侵入を防いでいます。
      アレルギー性鼻炎や花粉症の方は、何らかの原因でこの「衛気（えき）」が不足するために、通常では体内に侵入して悪さをしないような邪でも、
      侵入すると、鼻水や鼻づまり・クシャミなどが出てきてしまうのです。
    </p>
    <h4 class="topic">漢方では、根本的な原因を調べます</h4>
    <p>
      アレルギー性鼻炎は、季節性の花粉症のようなものも有れば、ハウスダストなどによる通年性のアレルギー性鼻炎もあります。
      前者は寒飲内伏が多く、夏場に冷たい物の飲食が多い事で寒飲が体内に発生し、これが春の花粉などの刺激になって「鼻水」となって出てきます。
      鼻水やクシャミは、漢方では「寒症状」と言い、冷える事で起こるのですが、春の陽気や体質によっては、これらが「熱化」し、目の痒みや充血・鼻づまりなどの「熱症状」に変わることも少なくありません。しかし、このように方でも、太陽が沈んでいる間は、外界の陽気が少なくなるので、鼻水やクシャミなどの症状に戻ります。
      漢方では、水分代謝を「脾」「肺」「腎」の３つが連携し、この連携を「肝」がコントロールしていると考えます。
      ですので、これらのどの部分がどのように悪いのか？によって、処方も異なってきます。
    </p>
    <p>
      よく、花粉症に「小青竜湯」が使われますが、これはあくまで「寒飲」を除くためのお薬ですので、根本的に治している訳では有りません。また、目の痒みや鼻づまりなどの「熱症状」が出ている人が服用すれば、逆効果になります。
      漢方薬は、効能・効果で服用するお薬ではなく、その人の体質や病気の原因を考慮して服用する薬です。
      安易な服用は、却って病気を悪くしますので、素人判断は良くありませんのでご注意下さい。
      特に、通年性のアレルギー性鼻炎は、体が虚しているために起こっていることが多く、｢小青竜湯」や「葛根湯加川キュウ辛夷」などの処方のみを連用されると、ますます体が虚していきます。服用されるときは、漢方を熟知した専門家にご相談ください。
    </p>
    <h4 class="topic">花粉症の方によく見られる悪い習慣</h4>
    <p><b>多飲の習慣</b></p>
    <p>
      口渇とは関係なく、水分を多く摂取すると言う習慣です。
      特に多いのが、冬場でも冷たい飲み物を飲むという方です。
      よく、温かい物なら良いのか？と尋ねられますが、冷たくても温かくても、過剰に摂取する水分はよくありません。
    </p>
    <p><b>薄着の習慣</b></p>
    <p>
      薄着を虚弱な体質やアレルギーの体質を改善すると言う、誤った健康法を実践されているケースです。
      これを行うと、体は常に寒さや乾燥にさらされて、体表部を外界の変化から守っている「衛気」と言う「気」を消耗させてしまいます。
      この｢衛気」が不足するのも、花粉症の原因になっています。
    </p>
    <p><b>睡眠不足</b></p>
    <p>
      睡眠が不足する事で、「陰（体に必要な水分や栄養物質など）」の消耗が多くなり、体の「陰」と｢陽」のバランスが崩れて内熱が発生し易くなります。
      起床時に目や鼻の乾燥、痒みといった症状が出てきます。
      睡眠不足が習慣的に続くと、「陰」だけでなく「陽」である「気」も不足してきますので、｢衛気」や｢肺気」にも影響し、花粉症の症状がひどくなります。
    </p>
    <h4 class="topic">アレルギー性鼻炎・花粉症の治療でよく使われる漢方薬</h4>
    <p>
      <ul>
        <li>小青竜湯</li>
        <li>麻黄附子細辛湯</li>
        <li>苓桂朮甘湯</li>
        <li>六君子湯</li>
        <li>補中益気湯</li>
        <li>葛根湯加川キュウ辛夷</li>
        <li>附子理中湯</li>
      </ul>
    </p>
    <p>
      実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      当店で取扱をいたしております漢方薬は全て医薬品です
    </p>
    <p>
      漢方薬は自己判断で服用しないようにしましょう。
      服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。　
      安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
    </p>
  </section>
</section>
{% endblock %}