{% extends 'base.html' %}

{% block content %}
  <section id="main">
    <section class="content">
      <h3 class="heading">便秘</h3>
      <p>
        便秘と言っても、辛い便秘もあれば気にならない便秘もあります。
        何日も排便が滞ると、お腹が張ってきて腹痛が起こり、トイレで頑張っても出ない便秘もあれば、何日も出なくても平気な便秘もあります。
        漢方では前者の便秘を「実」、後者の便秘を「虚」と考え、全く異なったお薬を使います。
      </p>
      <p>
        「実」の便秘の方なら市販の便秘薬等を使ってもそんなに問題はありせんが、
        「虚」の便秘の方が市販の便秘薬を使うと、下痢をしたり腹痛が生じて何度もトイレに駆け込んだりと、大変な思いをされるされるでしょう。
      </p>
      <p>
        西洋医学では「うんこが出ない」＝「便秘」ですが、漢方医学では、同じ便秘でも、<b>「なぜ、うんこが出ない？」</b>かを考え、お薬を選びます。
      </p>
      <h4 class="topic">便秘（習慣性便秘）を治すトレーニング</h4>
      <p>
        <ul>
          <li>排便する時間を決めます。朝食後・昼食後・夕食後の３つから決めましょう。但し、一日３食をキッチリ摂取されることを前提に考えます。</li>
          <li>排便する時間が決まったら、食事終了後、１５～３０分以内に便意が無くてもトイレで排便努力をします。この時に、トイレにマンガの本なんか持って入り、それを読むなんて事はもってのほかです。真剣に排便するようにしましょう。但し、痔の有る方はあまりきばらないで下さい。</li>
        </ul>
      </p>
      <h4 class="topic">便秘の治療でよく使われる漢方薬</h4>
      <p>
        <ul>
          <li>補中益気湯</li>
          <li>調胃承気湯</li>
          <li>大柴胡湯</li>
          <li>麻子仁丸</li>
          <li>防風通聖散</li>
          <li>桃核承気湯</li>
        </ul>
      </p>
      <p>
        これらと他の漢方薬を同時に使うことが多くなります。
        当店で取扱をいたしております漢方薬は全て医薬品です。
      </p>
      <p>
        漢方薬は自己判断で服用しないようにしましょう。
        服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
        安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
      </p>
    </section>
  </section>
{% endblock %}
