{% extends 'base.html' %}

{% block content %}
<section id="main">
  <section class="content">
    <h3 class="heading">鼻臭症</h3>
    <p>
      鼻臭とは、鼻腔呼吸に臭気を伴うものをいいます。
      萎縮性鼻炎・副鼻腔炎・蓄膿症（慢性副鼻腔炎）などでよく見かけられますが、酷い場合は特殊な悪臭があり、俗に「臭鼻症・鼻臭症」と言われています。
      漢方医学では、この臭いの原因を<b>「湿熱」・「肺陰虚」・「肺熱」</b>と考え、これらに対応する漢方薬を使用します。
    </p>
    <p>
      しかし、「湿熱」や「肺陰虚」・「肺熱」が生じる原因は、体質的なものや食生活など、内的・外的な因子が沢山あります。
      ですから、一概に「この漢方薬が効く」なんて事はありません。一人一人の体質を分析し、その方に合った漢方を服用することが大切です。
      また、鼻臭だけの方や口臭を伴う方もおられますし、口臭と同様に、「自臭症」の方も多く見かけられます。
      一般的に鼻臭症の治療の方が口臭の治療よりも時間がかかります。
    </p>
    <h4 class="topic">若い方に多いタイプ</h4>
    <p>
      日頃の食生活の乱れで「湿熱」が生じ、風邪などがきっかけで鼻腔に炎症を起こし、それ以来鼻臭に悩まされていると言った方が多く見かけられます。
      これらのタイプの方は、黄色い鼻汁や痰を伴う場合や口臭を伴う場合がよくあります。
      しかし、この湿熱の状態を放置しておくと、陰が不足し鼻汁が出ない状態になってきます。萎縮性鼻炎もこの状態と言えます。
      この状態になると治療にかなりの時間がかかる鼻臭症となります。　どのような疾患でも同じですが、早めの発見、早めの治療に心がけましょう。
    </p>
    <p>
      最近多く見かけられるのが、「自臭症」です。実際には鼻臭は無くても、本人にはかなり強い臭いを感じると言う病態です。
      特に、周りの人の仕草を見て実際に自分から臭いを発していると言う思い込みから嗅覚に異常が生じます。
      また、鼻づまりや鼻汁が出るなど、鼻の症状が全くなく、耳鼻科で検査をしても鼻腔には異常が見られないのに、実際に周りの人から鼻臭を指摘される方も少なくありません。
      この場合、膿栓などにより咽喉からの臭いが出ている事が多く見かけられます。
      当店では、長年、口臭・鼻臭・陰部の臭い（陰部臭）など<b>体から出る不快な臭いの漢方治療を研究</b>しております。
    </p>
    <p>
      近年の日本人の食生活は、昔から比べると大きく変わって来ました。　「湿熱」を生じさせない為にも、正しい食生活を守ることは、大変重要な事です。
    </p>
    <h4 class="topic">鼻臭症の治療でよく使われる漢方薬</h4>
    <p>
      <ul>
        <li>銀翹散</li>
        <li>二陳湯</li>
        <li>荊芥連翹湯</li>
        <li>防風通聖散</li>
        <li>茵陳蒿湯</li>
        <li>五虎湯</li>
        <li>麦門冬湯</li>
      </ul>
    </p>
    <p>
      当店で取扱をいたしております漢方薬は全て医薬品です。
      通常では、だいたい２種類の漢方薬を合方（がっぽう：組み合わせて使う）して体質にあわせていくため、
      一ヶ月分の価格は、おおよそ20,000円前後が平均となります。
    </p>
    <h4 class="topic">おすすめの漢方薬</h4>
    <p>
      <b>白毛夏枯草(びゃくもうかごそう).【苦草】</b><br>
      白毛夏枯草はシソ科の植物で、別名は、苦草、筋骨草、土犀角、破血丹、退血草、散血草、活血草、散血丹、苦地胆、地竜胆、透骨消などと言われています。
      白毛夏枯草は味が苦いので中国では「苦草」と呼ばれ、日本では「筋骨草」と呼ばれています。
      この薬草は、味は苦くて、少し甘みもあり、無毒の薬草です。
      薬効としては、「あらゆる部位の炎症と痛み・解毒に使える妙薬」と言われています。
      また、効き目が良くて副作用もないのが、この薬草の最大の特徴です。
      このことからも、安全で安心して長期間使える薬草ですので、漢方治療の補助として使われるサプリメントとしては最適です。
    </p>
    <p>
      <b>白毛夏枯草の成分</b><br>
      全草にはフラボノイドのルテオリン及びサポニン、ステロイドのシアステロン、及び微量のアジュガステロンＣ等の昆虫変態ホルモンを含む。
      主成分はルテオリン（抗酸化、肝臓解毒の促進とアレルギー症状を緩和する）。
      白毛夏枯草を濃縮して飲みやすく錠剤にしたもの。
      180粒入り 6800円（税抜き価格）
    </p>
  </section>
</section>
{% endblock %}