{% extends 'base.html' %}

{% block content %}
<section id="main">
  <section class="content">
    <h3 class="heading">機能性ディスペプシア(機能性胃腸症)</h3>
    <p>
      機能性ディスペプシア（FD：functional-dyspepsia）という聞き慣れない病名ですが、最近ではとても多い胃腸疾患の１つです。
      胃痛や胃もたれ、食欲不振に胸やけ、吐き気や胃や腸の膨満感など、よく言われる胃炎や胃潰瘍などの症状が出て来るのですが、医療機関で内視鏡検査をしても全く異状が見つかりません。
      中にはピロリ菌が見つかることもありますが、見つからない場合の方が多いでしょう。
      器質的には全く異常がないのに上述した症状が現れることを、機能性ディスペプシア（機能性胃腸症）と言います。
    </p>
    <p>
      原因としてよく上げられるのが、ストレスや不規則な食生活や香辛料や脂肪分の多い食事、コーヒーやアルコール、喫煙、夜更かしや昼夜が逆転した不規則な生活です。
      ただ、これらに全くこれらに心当たりが無くても機能性ディスペプシア（機能性胃腸症）を起こす方が少なくありません。
    </p>
    <p>
      西洋医学での治療は、主に「消化管運動機能改善薬」や「胃酸の分泌抑制剤」「抗うつ薬」「抗不安薬」などを使って症状を抑えます。しかし、これは対症療法に過ぎません。
    </p>
    <p>
      このような、原因がハッキリせずこれと言った治療法のない疾患には、漢方療法が有効です。
      漢方医学では、胃腸だけを診るのではなく、体全体を診て原因を探します。
    </p>
    <h4 class="topic">漢方での捉え方</h4>
    <p>
      例えば、吐き気や胃腸の膨満感などの直接的な原因は、「胃気や脾気の流れが悪い」と考えます。
      胃は、食べた物を消化して下の方に送っていく働きがあります。この一連の働きは、「胃気（いき）」が担っています。
      胃気の流れが悪くて停滞すると、吐き気が出て来たり胃の膨満感が出たり、食欲不振や少し食べると直ぐに満腹になるというような様々な症状が出てきます。
    </p>
    <p>
      直接的な原因は、胃気の流れが悪いということですが、漢方では「なぜ胃気の流れが悪くなっているのか？」という根本的な原因を探して治していきます。
      同じ症状でも、根本的な原因が異なれば、使用する漢方薬も全く異なって来ます。
      ですので、「機能性ディスペプシア（機能性胃腸症）にはこの漢方薬が効く」という決まった処方はありません。
      漢方薬の効能・効果だけを見て服用しても、全く効かない場合も少なくありません。
      自分自身の根本的な原因に合った漢方薬を使いましょう。
    </p>
    <h4 class="topic">機能性ディスペプシア(機能性胃腸症)の治療でよく使われる漢方薬</h4>
    <p>
      <ul>
        <li>小柴胡湯</li>
        <li>平胃散</li>
        <li>香蘇散</li>
        <li>六君子湯</li>
        <li>半夏瀉心湯</li>
        <li>逍遙散</li>
        <li>麦門冬湯</li>
        <li>附子理中湯</li>
      </ul>
    </p>
    <p>
      実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      当店で取扱をいたしております漢方薬は全て医薬品です
    </p>
    <p>
      漢方薬は自己判断で服用しないようにしましょう。
      服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。　
      安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
    </p>
  </section>
</section>
{% endblock %}