{% extends 'base.html' %}

{% block content %}
  <section id="main">
    <section class="content">
      <h3 class="heading">月経前症候群</h3>
      <p>
        月経前症候群：ＰＭＳ（月経前緊張症）は、生理が始まる前からの一連の症状を言います。
        これらには「精神の抑鬱状態」「怒りっぽい」「乳房が張て痛む」「嘔吐」「下痢」など、様々な症状が現れます。
        多くは月経の１～２週間前から始まり、月経が始まると症状が消失します。
        症状が軽い方なら我慢出来るでしょうが、ひどい人の場合、仕事や生活に影響を与える事もあります。
        また、口唇ヘルペスや性器ヘルペスが月経周期に伴って再発する方も多く見られます。
      </p>
      <h4>漢方では3種類に分類</h4>
      <p><b>タイプＡ（実）肝鬱気滞</b></p>
      <p>
        精神的ストレスにより、気の流が滞る事で生じます。
        特徴としては、月経前後に精神的抑鬱、怒りっぽい、腹部膨満、乳房が張って痛む、月経周期が一定しない、などの症状が現れます。
      </p>
      <p><b>タイプＢ（虚）脾胃虚弱</b></p>
      <p>
        普段から消化器系が虚弱なのか、食生活や日常の生活が悪く消化器系を傷めたために脾の運化機能が失調して、水湿（身体に不必要な水分）が発生します。
        このために消化器系を中心とした症状が現れます。
        特徴としては、月経前後に胃部膨満感、軟便又は下痢、倦怠感、むくみなどの症状が現れます。
      </p>
      <p><b>タイプＣ（虚）腎陰虚</b></p>
      <p>
        元もとの体質として「腎気虚」が有ったのか、性生活の過多で「精血」が損なわれた為に「腎陰」が不足して発生します。
        特徴としては、月経前後に頭がボーッとする、脱力感、耳鳴り、寝つきが悪くよく夢を見る、ほてり、顔面紅潮、腰や膝のだるさなどの症状が現れます。
      </p>
      <p>
        大きく３つのタイプに分けましたが、このように教科書通りの方は少ないでしょう。
        これらのタイプに別のタイプが重なっている場合や、またこれらが元になって新たな症状が出ている場合など様々です。
      </p>
      <h4>月経前症候群の治療でよく使われる漢方薬</h4>
      <p>
        <ul>
          <li>逍遙散</li>
          <li>柴胡加竜骨牡蠣湯</li>
          <li>知柏地黄丸</li>
          <li>加味逍遙散</li>
          <li>抑肝散加陳皮半夏</li>
          <li>冠脈通塞丸</li>
          <li>当帰芍薬散</li>
        </ul>
      </p>
      <p>
        これらと他の漢方薬を同時に使うことが多くなります。
        当店で取扱をいたしております漢方薬は全て医薬品です。
      </p>
      <p>
        漢方薬は自己判断で服用しないようにしましょう。
        服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。　
        安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
      </p>
    </section>
  </section>
{% endblock %}
