{% extends 'base.html' %}

{% block content %}
<section id="main">
  <section class="content">
    <h3 class="heading">偏頭痛</h3>
    <p>
      西洋医学では「頭痛」は、急性頭痛・慢性頭痛、緊張性頭痛、群発頭痛、偏頭痛（片頭痛）などに分けられますが、
      漢方では大きく「外感頭痛」と「内傷頭痛」の２つに分けます。
    </p>
    <p>
      「痛み」は頭痛に限らずどんな痛みでも「不通即痛」と漢方では考えます。
      これは何らかの原因で、気血の流れが滞るために発生すると考えます。
      関節で起これば「関節痛」になりますし、お腹で起これば「腹痛」となりますし、頭で起これば「頭痛」となるわけです。
    </p>
    <h4 class="topic">外感頭痛</h4>
    <p>
      外感頭痛と言うのは、風・寒・暑・燥・湿・火の６つの外邪（外界の気候変化や生活環境など）を身体が受けることで、気血の流れが悪くなり起こった頭痛を言います。
      特に頭痛では、風邪（ふうじゃ）と寒・熱・湿の邪気が結び付いて発生します。これらは西洋医学で言う「急性頭痛」の範疇にはいります。
    </p>
    <h4 class="topic">内傷頭痛</h4>
    <p>
      内傷頭痛というのは、臓腑の機能失調により発生する頭痛を言います。特に頭痛に関係の深い臓腑は肝・脾・腎になります。
      中でも多いのが「肝」が関係する頭痛で、西洋医学の分類では「偏頭痛（片頭痛）」や「緊張性頭痛」の一部が該当します。
    </p>
    <p>
      漢方では、このように頭痛の原因や個人の体質などを詳しく分析する事で、漢方処方を決定し頭痛を治していきます。
      たまに起こる頭痛で、しかも鎮痛剤を一回飲めば止まるような頭痛なら良いですが、周期的に繰り返される頭痛や鎮痛剤では止まらない頭痛には、漢方療法が有効です。
      但し、これらは基本的な考え方です。
      実際にはこれらが重なって発生している場合が少なくありません。漢方では、崩れたからだのバランスを整える事で、これらの症状を治していきます。
    </p>
    <h4 class="topic">偏頭痛の治療でよく使われる漢方薬</h4>
    <p>
      <ul>
        <li>補中益気湯</li>
        <li>釣藤散</li>
        <li>冠脈通塞丸</li>
        <li>川キュウ茶調散</li>
        <li>感応丸</li>
        <li>八味地黄丸</li>
      </ul>
    </p>
    <p>
      実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      当店で取扱をいたしております漢方薬は全て医薬品です
    </p>
    <p>
      漢方薬は自己判断で服用しないようにしましょう。
      服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。　
      安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
    </p>
  </section>
</section>
{% endblock %}