{% extends 'base.html' %}

{% block content %}
<section id="main">
  <section class="content">
    <h3 class="heading">陰部臭(陰部が臭う)</h3>
    <p>
      通常、自分自身とセックスパートナー以外にはわからない臭いですが、気になり出すと周りの人にも臭っているのではないか？と思うようになり、毎日の生活が憂鬱になって来ます。
      一概に陰部臭（陰部の臭い・性器の臭い）と言っても、いろいあります。
      先ず、陰部が無臭という方は居られません。いくら清潔にされていても、多かれ少なかれ、必ず臭いはあります。ここで取りあげる陰部臭は、自分自身でも強く感じる異臭やセックスパートナーから指摘されるような臭いを取りあげます。
      （数日入浴していないとか、尿失禁があるなど、原因がハッキリとした陰部臭は取りあげていません）
    </p>
    <h4 class="topic">臭いの原因</h4>
    <p>
      そもそも陰部臭の原因は、陰部で繁殖した雑菌によるものです。
      俗に「裾腋臭（すそわきが）」と言われるアポクリン腺由来の臭いもありますが、この場合は漢方治療を使われるより、美容形成外科で手術される方が早く確実に治す事が出来ます。
      厄介なのは、排尿時に陰毛についた尿から発生する雑菌や、おりものが陰唇に付着する事で繁殖する雑菌、または汗により繁殖する雑菌などです。
      しかし､女性ならどんな人でもこれらの状況になります。なのに、強く臭わない人も居られますし、強く臭う人も居られるわけです。これが「体質」です。
      漢方では、臭いの強く出る人は、「湿熱体質」と考えます。
    </p>
    <p>
      体内に、湿（身体に不必要な水分）と熱（不要な熱）が存在している状態で、漢方医学独特の考え方です。湿（さらさらした状態）が熱によって熱せられ、ドロドロとした状態を想像してください。それが「湿熱」です。
      鼻水でも最初は、水のように透明でサラサラしていますが、時間が経つとだんだん黄色くネバネバして臭うように鼻汁になって来ます。この状態が「湿熱」です。
    </p>
    <p>
      「湿熱」の発生原因は、一人一人異なります。
      ですので、漢方では「なぜ湿熱が発生しているのか？」という事から詳しく調べ、その原因から治して行きます。
    </p>
    <p>
      近年の日本人の食生活は、昔から比べると大きく変わって来ました。　
      「湿熱」を生じさせない為にも、正しい食生活や規則正しい生活を守ることは、大変重要な事です。
    </p>
    <h4 class="topic">陰部の臭いの治療でよく使われる漢方薬</h4>
    <p>
      <ul>
        <li>竜胆瀉肝湯</li>
        <li>防風通聖散</li>
        <li>黄連解毒湯</li>
        <li>茵陳蒿湯</li>
        <li>五苓散</li>
        <li>六君子湯</li>
        <li>大柴胡湯</li>
      </ul>
    </p>
    <p>
      実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      当店で取扱をいたしております漢方薬は全て医薬品です
    </p>
    <p>
      漢方薬は自己判断で服用しないようにしましょう。
      服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。　
      安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
    </p>
  </section>
</section>
{% endblock %}