{% extends 'base.html' %}

{% block content %}
  <section id="main">
    <section class="content">
      <h3 class="heading">性器のかゆみ・陰部掻痒</h3>
      <p>
        男性・女性に限らず、性器・陰部のかゆみは憂鬱な症状です。
        市販の塗り薬を使ってみたり、痒みが出る度にステロイド軟膏を使ってみたり・・・。
        しかし、陰部は顔と同じでデリケートな皮膚です。
        何度もかゆみを繰り返し対症治療をしていると色素沈着を起こしたり、カサカサの皮膚になったりします。
        カサカサの状態ですからまた痒みが出て悪循環を繰り返します。
      </p>
      <p>
        ここで注意が必要なのは、かゆい部分が陰唇・膣・の粘膜部分・陰茎部分にかゆみが有るのか、それとも硬毛の生えた部分が特にかゆいのか？です。
        硬毛の部分のかゆみがひどい時は、「ケジラミ」も疑って見ましょう。<b>「シラミなんか戦時中の話」と思ったら大間違いです。</b>今でも流行るときは大流行します。
        女性の場合は、ナプキンやおりものシートのかぶれも疑って見ましょう。下着の繊維によるアレルギーも考えられます。
      </p>
      <p>
        陰部のかゆみを中医学では、「陰痒」と言います。
        外陰部や膣内のかゆみの事を言い、「陰門掻痒」とも言われています。これらの場合、多くはおりもの（帯下）を伴います。
      </p>
      <h4 class="topic">漢方では2種類に分類</h4>
      <p><b>タイプA 湿熱下注</b></p>
      <p>
        陰部の痒みはかなり強く、黄色いおりもの（帯下）を伴います。
        また、時には膿様で生臭い臭いを伴うことが多く見かけられます。
        （白色のおりものの場合もあります）比較的若い人に多く、ストレスや食生活の不摂生が原因と言う場合が多いようです。
      </p>
      <p><b>タイプB 肝腎陰虚</b></p>
      <p>
        老化や慢性病・性交過多・出産などにより、肝腎が虚して発生します。
        特徴としては、陰部の乾燥と灼熱感を伴い、夜間に掻痒感が強くなる傾向があります。
        おりものは、黄色いおりものがありますが、湿熱下注タイプよりは少なく、時には血性のおりもの等が見られます。
        このタイプは、閉経後によく見かけられます。
      </p>
      <p>
        A, Bのタイプが混在した、「虚実挟雑タイプ」もあります。また、患部の場所により陰部掻痒とは別の扱いをする場合もあります。
      </p>
      <h4 class="topic">陰部のかゆみでよく使われる漢方薬</h4>
      <p>
        <ul>
          <li>竜胆瀉肝湯</li>
          <li>茵陳蒿湯</li>
          <li>防風通聖散</li>
          <li>知柏地黄丸</li>
          <li>温清飲</li>
          <li>乙字湯</li>
          <li>消風散</li>
        </ul>
      </p>
      <p>
        これらと他の漢方薬を同時に使うことが多くなります。
        当店で取扱をいたしております漢方薬は全て医薬品です。
      </p>
      <p>
        漢方薬は自己判断で服用しないようにしましょう。
        服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
        安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
      </p>
      <p>
        Aのタイプは比較的短期間で治りますが、Bのタイプは時間がかかります。
        生理用品によるかぶれなら、軟膏を使うと治るでしょうが、そうでない陰部の痒みは身体の中から治さないと絶対に治りません。
        一人で悩んでいても解決しません。放置しておけばどんどん酷くなるばかりです。お気軽にご相談下さい。
      </p>
      <h4 class="topic">おすすめの漢方薬</h4>
      <p>
        <b>ケアピローサエッセンス</b><br>
        宮古ビデンスピローサをパラベンフリーの基剤に配合した保湿剤です。乾燥した皮膚に潤いを与えます。
        ビデンス・ピローサは、亜熱帯から熱帯地域に広く自生するキク科センダングサ属のタチアワユキセンダングサの学名です。
        皮膚に良いと言われています。乾燥した部位の保湿にお勧めします！<br>
        <img style="display: block; margin-top: 14px;" src="{{ url_for('static', filename='img/disease_list/care_pilosa.jpg') }}" width="80">
      </p>
    </section>
  </section>
{% endblock %}
