{% extends 'base.html' %}

{% block content %}
  <section id="main">
    <section class="content">
      <h3 class="heading">更年期障害</h3>
      <p>
        更年期障害は、40代半ばから50代前半で、閉経前後の2~3年に起こります。
        漢方では、「腎気」の衰弱が原因で、陰陽バランスが乱れているところに、生活環境上で生じる肉体的 ・精神的なストレスが引き金となって生じると考えます。
        日頃から陰陽バランスのよく取れている人は、更年期障害も軽くて済みます。
      </p>
      <h4 class="topic">漢方で言います「腎」は、西洋医学で言う「腎臓」とは異なります</h4>
      <p>
        「腎は骨を主り、髄を生じ、脳に通じる」
        「腎は精を蔵し、生長・発育・生殖を主る」
        「腎は水液を主る」
        「腎は上は耳に開竅し、下は二陰に開竅し、その華は髪にある」
        「腎は納気を主る」
        漢方では、以上の働きをする場所を「腎」と言います。
      </p>
      <p>
        また、「腎」が虚してくると「肝腎同源」「精血同源」から「肝」と言うところも虚してきます。
        「肝は血を蔵す」
        「肝は疎泄を主る（自律神経のコントロール）」
        「肝は筋を主る」
        「肝は目に開竅し、その華は爪にある」
        漢方では、以上の働きをする場所を「肝」と言います。
      </p>
      <p>
        従って、更年期になり「腎」「肝」に異状が生じると、これらの働きが悪くなり他の臓腑にも影響を与えて様々な症状が現れます。
        これらの症状は、西洋医学的な検査をしても異状が認められず、全てをまとめて「更年期障害」として 扱われます。
        症状的には「自律神経失調症」「パニック障害」などの心療内科的疾患に似ていますが、 更年期障害ではその原因の根本に「腎虚」があると言う事です。
      </p>
      <p>
        漢方医学では、「腎虚」がどの臓腑にどのように影響を与えているかを調べ、崩れた陰陽バランスを調えて行くような処方を使います。
      </p>
      <h4 class="topic">更年期障害の治療でよく使われる漢方薬</h4>
      <p>
        <ul>
          <li>知柏地黄丸</li>
          <li>八味地黄丸</li>
          <li>加味逍遙散</li>
          <li>天王補心丸</li>
          <li>六味丸</li>
          <li>人参養栄湯</li>
          <li>桂枝加竜骨牡蠣湯</li>
        </ul>
      </p>
      <p>
        実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
        当店で取扱をいたしております漢方薬は全て医薬品です
      </p>
      <p>
        漢方薬は自己判断で服用しないようにしましょう。
        服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。　
        安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
      </p>
    </section>
  </section>
{% endblock %}
