{% extends 'base.html' %}

{% block content %}
<section id="main">
  <section class="content">
    <h3 class="heading">口臭</h3>
    <p>
      口腔内や体に問題がある方を除いて、口臭だけで病院に通っておられる方は少ないと思います。
      しかし、気にしだすとトコトン気になるのがこの口臭ではないでしょうか？
    </p>
    <p>
      口臭を気にしだすと、人と話すことが不安になり、周りの人の会話が気になったり、「臭い」と言う言葉にとても敏感になり、ひどくなると対人恐怖症のようになってしまいます。
      何とか臭いをごまかすためにガムを噛んだり、口中エチケット剤を噴霧したり・・・。
      また、宣伝文句にだまされて、高価な口腔洗浄液や歯磨きチューブなんて買ってみたけど、効いているのはほんの数十分。
    </p>
    <p>
      ネットや雑誌で調べては、アレが良いと言われれば、わざわざ買って試してみたり・・。
      「口臭に効く漢方薬」なんて調べては、素人判断で飲んでみたり、いろいろな方法を試しても「これ」と言う決め手がなく、
      歯医者さんや口臭外来を受診して口腔内を診てもらい、「虫歯もないし、歯周病も大丈夫」と言われれば、これで口臭が消えると言う望がなくなってしまうのです。
      それならかえって「歯周病です・虫歯です」なんて言われた方が、原因がはっきりするし、治療も出来るので気が楽になるのですが････｡
    </p>
    <p>
      注) 朝起きたての口臭・運動直後の口臭・空腹時の口臭・長時間話しをした後の口臭は、生理的口臭ですので病的ではありません。
      ここで扱う口臭は、これら生理的口臭以外の口臭です。
    </p>
    <h4 class="topic">そこで漢方が実力を発揮します！</h4>
    <p>
      漢方では口臭の直接的な原因の多くは、胃熱や胃湿熱によるものと考えます。但し間接的な原因は沢山あります。
      また、体質的に「津液（身体に必要な水分・水液）」が不足することで発生する場合もありますし、
      他覚的には口臭が認められないのに、自分では口臭があるように感じる「自臭症」もあります。
      漢方では「自臭症」も身体のバランスが崩れて生じるものと考え治療していきます。
      鏡の前で「あかんべー」というように舌を出して観察してみましょう。
      舌の中央部から奥にかけて”黄色っぽい苔”がついていませんか？
      この場合は、<b>胃熱や胃湿熱</b>が直接的な原因でしょう。
    </p>
    <p>
      しかし、このような舌苔がついていないのに、ひどい口臭が出ている場合もあります。
      と言って、内臓などには異常がなく、全く原因がわからないことも少なくありません。
      漢方医学では、こういう場合でも原因を見つけることが可能です。
      特に難しい口臭は、舌の縁に歯形がついてデコボコになっていて、クリーム色～黄色の舌苔がついている場合の口臭です。
      この場合、漢方では「虚実挟雑（きょじつきょうざつ）」と考え、虚を補いながら実を瀉すというバランスの難しい治療になります。
    </p>
    <img src="{{ url_for('static', filename='img/disease_list/koushu.jpg') }}">
    <h4 class="topic">自分で治せる口臭とそうでない口臭</h4>
    <p>
      甘い物・味の濃い物・脂っこい物・香辛料などを過食したり、お酒の飲み過ぎや食べ過ぎは、胃に熱を加える事になります。
      またストレスなど、間接的に胃に熱を加える要因もあります。
      この胃の熱を冷ますと、だいたいの口臭は取り除けますが、同時に必ず食生活や生活習慣も見直さなければなりません。
      逆に、このような口臭は、ご自分の努力次第で治すことが出来ます。
    </p>
    <p>
      ただ、根本にある体質を考慮せず安易に胃の熱を冷ますと、下痢を起こして更に口臭を悪化させる事がありますので、漢方を熟知していない者が判断するのは良くありません。
      誤った漢方薬の使用で、簡単に治せていた口臭をこじらせてしまう症例もよく見かけます。
      また、臭い（ウンコ臭、イオウ臭や腐敗臭、生臭いニオイなど）によっても、体質や治し方が異なります。
      口臭の治療も体質によっては、非常に難しい場合があります。
      特に幼い頃からずっと継続して口臭がある方は、難しい場合が少なくありません。
      また、口臭に加えて<b>鼻臭もある場合は、膿栓などの可能性</b>もあります。
    </p>
    <p>
      鏡で舌を見ても、写真のような舌苔がついていないのに口臭の出る方や鼻臭が出る方もおられます。
      このタイプの方は、幼少の頃からずっと口臭があったと言われる方が多く、治していくのにも時間のかかる口臭です。
      根本的な体質に漢方で言う「陽虚（ようきょ）」という体質があるため、清熱（体内の要らない熱を除く）という方法と逆の治療法を使います。
      この判断は非常に難しいので、看板や肩書き、広告に惑わされず、本当の漢方専門家にご相談ください。
    </p>
    <h4 class="topic">イソジンでのうがいは止めましょう！</h4>
    <p>
      一日何度も頻繁にイソジンなどの殺菌剤でうがいをすると、口腔内にいる善玉菌まで殺してしまいます。
      腸内細菌バランスが重要な事は皆さんも既にご承知の事と思いますが、鼻腔や口腔など体のあらゆる部分でも細菌バランスが重要なのです。
      殺菌剤でうがいを繰り返していると、口腔内の細菌バランスが崩れてしまいます
      。うがいした直後は臭いが一時的になくなる事もありますが、しばらくするとまた臭いが出てきます。
      結局は、正常な口腔内の細菌バランスになるよう、根本から体を治していく必要があるのです。
    </p>
    <p>
      胃熱を除く漢方薬はいろいろあります。中でも代表的な物は「防風通聖散」でしょう。
      胃熱があれば通常は便秘がちになるのですが、胃強脾弱（いきょうひじゃく）というタイプの方は、日頃から下痢や軟便になっています。
      そのような方が「防風通聖散」を使うと、下痢・軟便がひどくなり<b>ますます口臭を悪化</b>させてしまいます。
      このような場合は、脾（ひ：消化器系）を守りながら胃熱を除くという方法を使います。
      口臭・鼻臭・膿栓など臭いの漢方療法は、簡単そうに見えてとても複雑で難しいものです。安易な自己判断はよくありません。
      <b>当店では、長年、口臭・鼻臭・陰部の臭いなど体から出る不快な臭いの漢方治療を研究しております。</b>
    </p>
    <h4 class="topic">口臭の治療でよく使われる漢方薬</h4>
    <p>
      <ul>
        <li>防風通聖散</li>
        <li>平胃散</li>
        <li>半夏瀉心湯</li>
        <li>黄連解毒湯</li>
        <li>二陳湯</li>
        <li>白虎加人参湯</li>
        <li>六君子湯</li>
        <li>茵陳蒿湯</li>
      </ul>
    </p>
    <p>
      口臭の漢方治療は、体質によりこれらの薬と他の薬を組み合わせて使う場合が多くなりすので、一ヶ月分の平均価格は15,000円～25,000円ぐらいです。
      また食養生の厳守も必要です。逆に食養生と規則正しい生活を守れない状況でしたら、漢方治療をされても無駄になります。
    </p>
    <h4 class="topic">おすすめの漢方薬</h4>
    <p>
      <b>白毛夏枯草(びゃくもうかごそう).【苦草】</b><br>
      白毛夏枯草はシソ科の植物で、別名は、苦草、筋骨草、土犀角、破血丹、退血草、散血草、活血草、散血丹、苦地胆、地竜胆、透骨消などと言われています。
      白毛夏枯草は味が苦いので中国では「苦草」と呼ばれ、日本では「筋骨草」と呼ばれています。この薬草は、味は苦くて、少し甘みもあり、無毒の薬草です。
      薬効としては、「あらゆる部位の炎症と痛み・解毒に使える妙薬」と言われています。また、効き目が良くて副作用もないのが、この薬草の最大の特徴です。
      このことからも、安全で安心して長期間使える薬草ですので、漢方治療の補助として使われるサプリメントとしては最適です。
    </p>
    <p>
      <b>白毛夏枯草の成分</b><br>
      全草にはフラボノイドのルテオリン及びサポニン、ステロイドのシアステロン、及び微量のアジュガステロンＣ等の昆虫変態ホルモンを含む。
      主成分はルテオリン（抗酸化、肝臓解毒の促進とアレルギー症状を緩和する）。
      白毛夏枯草を濃縮して飲みやすく錠剤にしたもの。
      180粒入り 6800円（税抜き価格）
    </p>
  </section>
</section>
{% endblock %}