{% extends 'base.html' %}

{% block content %}
  <section id="main">
    <section class="content">
      <h3 class="heading">膿栓</h3>
      <p>
        「エヘン」と咳ばらいをすると、のどの奥から乳白色や灰白色の塊が飛び出してきたり、咳と共に出で来る塊を「膿栓」と言います。
        「なんだこりぁー？」と思って指でつぶして匂いを嗅ぐと、これが臭いのなんの。
        膿栓のご相談メールで、「僕らの間では、くさいだまって言うのですよ。」って教えて頂きました。
        これには自分なりに納得してしまいましたね。まさに膿栓はその通りですから・・・。
      </p>
      <p>
        膿栓は、慢性扁桃炎によく見られる症状です。
        若い人に多く、加齢と共に少なくなっていきます。膿栓以外にこれと言った自覚症状がないと言う場合も良く見かけられます。
        この膿栓を漢方では「咽喉白腐」と言います。伝染性疾患であるジフテリアの偽膜も、この咽喉白腐に入りますが、ここで取り上げるのは、ジフテリア以外の咽喉白腐です。
      </p>
      <h4 class="topic">膿栓の原因は大きく４つ</h4>
      <ul>
        <li>肺腎陰虚</li>
        <li>肺胃熱盛</li>
        <li>陰虚火旺</li>
        <li>腎陽虚</li>
      </ul>
      <p>
        これら４つの中で、若い人に多いのは「肺胃熱盛」です。<br>
        何らかの「熱」が肺胃に停滞して経をめぐって上行し、咽部の肌膜を傷腐したことが原因で発生します。
        この何らかの「熱」には、食生活の不摂生や、正気の不足により繰り返し風邪をひいたりして、気血の流れが滞ったりすることが原因で発生する事が多いようです。
      </p>
      <p>
        通常、咽痛などの自覚症状がなくても、夏の暑い時期や、冬場でも暖房のきいた部屋に長時間居たりすると、直ぐに咽が腫れたり痛みが出たりします。
        また、風邪をひくと高熱が出る場合も多く見かけられます。特にこの肺胃熱盛が原因の場合、口臭が酷く黄色～乳白色の舌苔を伴う場合が多いようです。
        膿栓の漢方治療は、肺胃の熱を清め、この「熱」の発生している原因をつきとめて根本から治します。
        膿栓による口臭・鼻臭を治すため、よく膿栓の除去手術をされますが、除去された後でも臭いが全く良くならないことが少なくありません。
        これは、根本にある「湿熱体質」が良くなっていないためです。
      </p>
      <h4 class="topic">イソジンでのうがいは止めましょう！</h4>
      <p>
        一日何度も頻繁にイソジンなどの殺菌剤でうがいをすると、口腔内にいる善玉菌まで殺してしまいます。
        腸内細菌バランスが重要な事は皆さんも既にご承知の事と思いますが、鼻腔や口腔など体のあらゆる部分でも細菌バランスが重要なのです。
        殺菌剤でうがいを繰り返していると、口腔内の細菌バランスが崩れてしまいます。
        うがいした直後は臭いが一時的になくなる事もありますが、しばらくするとまた臭いが出てきます。
        結局は、正常な口腔内の細菌バランスになるよう、根本から体を治していく必要があるのです。
      </p>
      <h4 class="topic">膿栓の治療でよく使われる漢方薬</h4>
      <p>
        <ul>
          <li>銀翹散</li>
          <li>五虎湯</li>
          <li>黄連解毒湯</li>
          <li>三黄瀉心湯</li>
          <li>荊芥連翹湯</li>
          <li>茵陳蒿湯</li>
        </ul>
      </p>
      <p>
        実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
        当店で取扱をいたしております漢方薬は全て医薬品です
      </p>
      <p>
        通常では、だいたい２種類の漢方薬を合方（がっぽう：組み合わせて使う）して体質にあわせていくため、
        一ヶ月分の価格は、おおよそ20,000円前後が平均となります。
      </p>
      <h4 class="topic">おすすめの漢方薬</h4>
      <p>
        <b>白毛夏枯草(びゃくもうかごそう).【苦草】</b><br>
        白毛夏枯草はシソ科の植物で、別名は、苦草、筋骨草、土犀角、破血丹、退血草、散血草、活血草、散血丹、苦地胆、地竜胆、透骨消などと言われています。
        白毛夏枯草は味が苦いので中国では「苦草」と呼ばれ、日本では「筋骨草」と呼ばれています。
        この薬草は、味は苦くて、少し甘みもあり、無毒の薬草です。
        薬効としては、「あらゆる部位の炎症と痛み・解毒に使える妙薬」と言われています。
        また、効き目が良くて副作用もないのが、この薬草の最大の特徴です。
        このことからも、安全で安心して長期間使える薬草ですので、漢方治療の補助として使われるサプリメントとしては最適です。
      </p>
      <p>
        <b>白毛夏枯草の成分</b><br>
        全草にはフラボノイドのルテオリン及びサポニン、ステロイドのシアステロン、及び微量のアジュガステロンＣ等の昆虫変態ホルモンを含む。
        主成分はルテオリン（抗酸化、肝臓解毒の促進とアレルギー症状を緩和する）。
        白毛夏枯草を濃縮して飲みやすく錠剤にしたもの。
        180粒入り 6800円（税抜き価格）
      </p>
    </section>
  </section>
{% endblock %}
