{% extends 'base.html' %}

{% block content %}
  <section id="main">
    <section class="content">
      <h3 class="heading">おりもの・帯下</h3>
      <p>
        量が多かったり、色が着いていたり、臭いが強かったり・・・。
        よほどな異常がない限り、おりものを気にされたことはないと思います。
        また、今では「おりものシート」が有りますから、少々おりものの量が多くても不快感なく過ごす事ができます。
        これらも「おりもの」を気にしなくなった原因でしょう。
      </p>
      <h4>では正常なおりものとはどんなのでしょう</h4>
      <p>
        漢方では「帯下は乃ち女子に生じて即ち有り、津津と常に潤うは、本は病に非ざるなり」と考えます。
        少量の透明なおりものが出で、常に膣内を潤わしている状態は正常と考えます。
      </p>
      <p>
        <b>異常な「おりもの」が出る事を、漢方では「帯下病」と言います。</b>
        漢方では、異常な「おりもの」を「五帯」と言って「白帯・黄帯・赤帯・青帯・黒帯」に分類します。
        中でも多く見られるのは、「白帯」と「黄帯」です。
      </p>
      <p>
        白帯の場合、量が多く特に臭いもないものは、「脾虚」や「腎虚」が多く、乳白色でおから状または豆腐状のものは「湿熱」が原因になっています。
        黄帯の場合、黄緑色で臭いの強いものが多く、殆どは｢湿熱」が原因ですが、薄黄色で無臭の場合は「気滞」が原因の場合があります。
        特に、「湿熱」が原因でおのものが出ている場合は、陰部臭も出ている事が少なくありません。
      </p>
      <p>
        おりものが多い方で、よくビデを使われる方がおられます。
        ビデを使われるのは悪くはないのですが、頻繁に使われると膣内の自浄作用が落ち、却って逆効果になります。膣内は、洗浄しすぎないように注意しましょう。
      </p>
      <h4>おりもの・帯下の治療でよく使われる漢方薬</h4>
      <p>
        <ul>
          <li>竜胆瀉肝湯</li>
          <li>五苓散</li>
          <li>補中益気湯</li>
          <li>参苓白朮散</li>
          <li>六君子湯</li>
          <li>当帰芍薬散</li>
          <li>八味地黄丸</li>
          <li>牛車腎気丸</li>
        </ul>
      </p>
      <p>
        マニュアル通りの体質の方なら良いのですが、そうでない方はこれらの漢方薬や別の漢方処方を同時に使用する場合が多くなります。
        当店で取扱をいたしております漢方薬は全て医薬品です
      </p>
      <p>
        漢方薬は自己判断で服用しないようにしましょう。
        服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。　
        安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
      </p>
    </section>
  </section>
{% endblock %}
