{% extends 'base.html' %}

{% block content %}
<section id="main">
  <section class="content">
    <h3 class="heading">生理痛</h3>
    <p>
      生理痛には、症状の軽いものから重いものまでいろいろあります。
      鎮痛剤を服用しなくても我慢できるものもあれば、学校や会社を休まなければならない痛みまで、それこそ十人十色です。
      この痛みを大抵の女性の方は、市販の鎮痛剤でごまかしていると思われます。
      また、「一ヶ月に数日だから・・・・」って言うのもあって、ついつい鎮痛薬に頼ってしまうのでしょう。
    </p>
    <p>
      しかし、<b>「痛み」というのは「生体に異常があると言うサイン」</b>なんです。このサインを鎮痛薬で隠してしまっているだけなのです。
      いつまでもこんな事をしていて、絶対に良いわけはありませんね。
      この生体からのサインを受け止め、大きな病気へ発展する前にしっかり治しましょう。
      生理痛を起こさせる代表的な疾患は、子宮筋腫や子宮内膜症、子宮腺筋症などがあります。
      慢性的に続く生理痛の場合、先ずは婦人科でこれらの疾患がないかを調べられた方が良いでしょう。
    </p>
    <h4 class="topic">生理痛はなぜおこる？</h4>
    <p>
      漢方医学では、気血の滞りが痛みを起こしていると考えます。この滞りは、他に何か原因があってその結果、気血が滞り痛みが生じているのです。
      冷えが原因であったり、ストレスが原因であったりその他色々な原因や体質により、生理痛となって現れています。
      漢方では、生理痛を「虚」「実」「虚実挟雑」に分けてそれぞれの体質に合わせて漢方薬の処方を考えます。
      何らかの「実」が原因の場合は、比較的早く治りますが、「虚」から来る生理痛は治療に時間がかかります。
    </p>
    <p>
      生理痛の治療に使う漢方薬は原因や体質により色々ありますが、これらは良く使われる漢方薬です。
    </p>
    <h4 class="topic">生理痛の治療でよく使われる漢方薬</h4>
    <p>
      <ul>
        <li>加味逍遙散</li>
        <li>当帰芍薬散</li>
        <li>温経湯</li>
        <li>冠脈通塞丸</li>
        <li>逍遙散</li>
        <li>桃核承気湯</li>
        <li>冠心逐お丹</li>
        <li>五積散</li>
      </ul>
    </p>
    <p>
      実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。　
      当店で取扱をいたしております漢方薬は全て医薬品です
    </p>
    <p>
      漢方薬は体質に合わせて服用してこそ、安全で効果のある治療薬となります。
      漢方薬服用の際は、必ず専門家にご相談の上、服用願います。
    </p>
  </section>
</section>
{% endblock %}