extends base.pug
block variables
  - var accessTab = true;

block content
  section#main
    // メイン画像
    #mainBanner
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3267.95504790143!2d135.93471595088565!3d35.007830374118114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001728cac3d887d%3A0xce912e1d56f49d24!2z5ryi5pa544Gu44K744Kk44K344Oz44OJ44O8!5e0!3m2!1sen!2sjp!4v1570844089177!5m2!1sen!2sjp', width='600', frameborder='0', style='border:0; height: 400px !important;', allowfullscreen='')
      .inner
    // / メイン画像
    section.content
      section.content
      section.content
    // / メイン画像
    section.content
      h3.heading 電車でお越しの場合
      p
        | JR琵琶湖線　南草津駅下車　（新快速でも普通でも停車します）
        br
        | 湖西線と同じホームですので、間違えて湖西線に乗らないようにしてください。
      p
        | 南草津駅の改札を出られたら「西口」へ出てください。
        | 県道１８号線に沿って徒歩で１５～１７分です。
        | （琵琶湖の方へ向かって歩いて下さい）
      p
        | 新幹線で東京方面から「のぞみ」「ひかり」でお越しの場合は、米原駅で琵琶湖線に乗り換えられるより、京都駅まで行かれて乗り換えられる方が早く着きます。
      p
        | 北陸方面からお越しの場合、敦賀駅より米原方面下り新快速にご乗車されるか、「サンダーバード」で京都駅までお越し頂き、琵琶湖線上り電車に乗り換えてください。
      p
        | 関西空港からお越しの場合は、「ＪＲ特急はるか」にて京都駅までご乗車頂き、琵琶湖線上り電車にお乗り換え下さい。
        | 大阪空港（伊丹空港）からお越しの場合は、空港バスまたは大阪モノレール（千里中央経由）・北大阪急行電鉄にて新大阪駅よりＪＲにお乗り換え下さい。モノレールを使われる方が新大阪駅までの所要時間はかかりますが、空港バスよりも到着時間は正確です。
      p
        | 近江バスをご利用の場合は「西口」へ出てください。
        | 近江バス　「よし池経由　イオンモール草津行き」又は「草津総合病院経由　イオンモール草津行き」又は「草津西口行き」にご乗車下さい。
        | 土曜・日曜・祝日は、バスの本数も多いですが、平日は少ないのでご注意下さい。
        a(href='http://time.khobho.co.jp/ohmi_bus/pol_dsp.asp?KaiKbn=NOW&teiCd=1249', target='_blank') 近江バス時刻表
        br
        | 「南草津団地」で下車　徒歩１分
        | 横の細い道を抜けると直ぐです
      p
        | なお「東口」及び「西口」よりタクシーもあります。
        | 運転手さんには、「矢橋(やばせ)の湖洲平(こしゅうだいら)の薬屋まで」と言われる方が住所を言われるよりも良くわかると思います。