| {% extends 'base.html' %}
| {% block content %}
section#main
  section.content
    h3.heading 膀胱炎
    p
      | 膀胱炎は、女性に多い疾患です。数年に一度程度、膀胱炎を起こすと言う場合でしたら、抗菌剤の服用で十分です。
      | しかし、年に何度も起こしたり、ひどい方は月に何度も起こされます。このような方は、漢方治療が効果的です。
    p
      | また、細菌が検出されない膀胱炎でしかも頻発する場合は、病院で薬を貰っても全くと言って良いほど効きません。
      | 最終的には「心療内科」へまわされ、神経性膀胱炎・神経性頻尿などの病名がつきます。こういう場合には漢方が良く効きます。
    p
      | 漢方では、「湿熱の邪」が膀胱に入り膀胱炎を起こすと考えます。
      | 停滞した「湿（身体に不必要な水分）」と体内に生じた熱により、「湿熱」を生じ、膀胱の水路を犯して膀胱炎を起こすと考えています。
      | そのため漢方治療では、「湿」および「熱」の発生の原因を調べ、これらの邪を取り除くことが治療の基本となります。
    p
      | 神経性膀胱炎や神経性頻尿や最近よく言われています「過活動膀胱」の治療は、これらとは異なります。
      | また、男性の場合は、前立腺に異状が有る場合にも、膀胱炎のような症状が現れる事もあります。
    h4.topic 膀胱炎の予防
    ul
      li トイレを我慢しない
      li 下半身を冷やさない（特に足の裏）
      li 排便のときは前から後ろにふく
      li 規則正しい食生活を送り、ストレスを貯めない
      li 過労はさける
      li 生理時のナプキンは早めに交換し、清潔を保つ
      li 不潔な状態でのセックスは避ける
      li スポーツなどで多く発汗したときは水分を補給する
    h4.topic 膀胱炎の治療でよく使われる漢方薬
    p
    ul
      li 竜胆瀉肝湯
      li 猪苓湯
      li 八味地黄丸
      li 知柏地黄丸
      li 六味丸
    p
    p
      | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      | 当店で取扱をいたしております漢方薬は全て医薬品です
    p
      | 漢方薬は自己判断で服用しないようにしましょう。
      | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
      | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
| {% endblock %}
