| {% extends 'base.html' %}
| {% block content %}
section#main
  section.content
    h3.heading 冷え性
    p
      | 冷え性の辛さは、冷え性の方でないと分かりませんね。
      | 病気ではないから、病院へ行っても治らないし、「体質です」で片づけられてしまいます。
      | 第一に病院へ行く人も居ないなでしょう。
      | 一言で冷え性と言っても、手足の末端だけが冷える冷え性もあれば、末端だけでなく背中までゾクゾクするような冷え性、
      | 身体全体が冷えて夏でも厚着をするぐらいの冷え性など、いろいろなタイプがあると思います。
    h4.topic たかが｢冷え性」　されど「冷え症」
    p
      | でも
      b 冷え性を甘く見ていると、大変なことにもなります。
      | 女性の場合、「流産」しやすい体質になったりとか、「下痢」「便秘」などの便通異常が出たりします。
      | 「これから病気になる予備軍」と思っても良いでしょう。
    p
      | 生理・妊娠・出産・授乳など女性の生理機能を正常に維持するためには、身体を冷やさないように生活上の工夫が必要です。
      | しかし、近年では職場や生活環境・間違ったダイエット方による減量や冷たい物の飲食、足を極端に露出するファッションなどが身体を冷やす要因となっています。
      | 体温の維持は、「気の温煦作用」によるものと漢方では考えます。
      | 冷え性は、この「気の温煦作用」が何らかの原因で障害を受けたり、「気の運行（気の流れ）」が阻害されたことにより生じると考えます。
    h4.topic 4つのタイプの冷え性
    p
      b 陽虚タイプ
    p
      | 脾腎陽虚により陽気が衰えて四肢を温める事が出来ず冷えが生じる。
      | このタイプは高齢者に多く、夏でも分厚い布団が無ければ冷えて寝られないと言う方が多いようです。
    p
      b 寒凝タイプ
    p
      | 体質や食生活が悪い人など、血虚になった人が「寒邪（外界の冷え）」を受けると血脈の運行（血の流れ）が障害され、
      | 「寒邪」が四肢に凝滞するために冷え性が起こる。
      | このタイプは過度のダイエットが原因で起こったり、食べ物の好き嫌いが多い人など、飲食の不節が原因と言う方が多く見かけられます。
    p
      b 寒湿タイプ
    p
      | 寒湿の邪が肌肉に侵入し、陽気を阻滞するために温煦（温める）が出来なくなり冷えを生じる。
      | このタイプは、日頃から過剰に水分を摂取され、身体に「湿（身体に不必要な水分）」を抱えている人が、直接肌をを冷やしたことで生じる事が多いようです。
    p
      b 血おタイプ
    p
      | 内出血、慢性病、老化などで陽気が不足したり、血の不足・痰湿や気滞により血行の阻滞が原因となって、血流が停滞し冷えを生じる。
      | このタイプは、何か原因があり結果として起こる冷えです。「血お」を起こしている原因を突きとめて根本から治していかなければなりません。
    h4.topic 冷え性の治療でよく使われる漢方薬
    p
    ul
      li 八味地黄丸
      li 鹿茸大補湯
      li 人参湯
      li 五積散
      li 補中益気湯
      li 麻黄附子細辛湯
      li 附子理中湯
      li 四逆湯
    p
    p
      | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      | 当店で取扱をいたしております漢方薬は全て医薬品です
    p
      | 漢方薬は自己判断で服用しないようにしましょう。
      | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
      | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
| {% endblock %}
