| {% extends 'base.html' %}
| {% block content %}
section#main
  section.content
    h3.heading 腹なり・お腹のはり
    p
      | 空腹時に大きな音でグルグルとお腹が鳴っても、「お腹がすいたね」って、まわりの人に言えますが、食事をしたばかりで沢山食べたのにグルグル大きな音でなると・・・・。
      | こういうのって、昼食後、大事な会議の時とかに限って大きな音でグルグルと会議室中に鳴り響いてしまうものです。腹なりがこれで済んだと思えば、今度はお腹の張り・・・。
      | 会議も山場を迎えた頃、お腹が張ってガスが出そう・・・・。でも、ここで上手く音を出さずに「おなら」が出せればスッとするのですけど、
      | もし、会議室中に大きな「おなら」の音が響き渡ると・・・。何て思えば思うほど、お腹がグルグル・お腹がキンキンに張ってきてしまって・・・って言う経験はないでしょうか？
    p
      | こういう経験が年に数回とか、月に１回ほどと言う方なら、まず治す必要はありません。会議のある日の食事などを気を付けていれば良いのです。
      | しかし、これが毎日とか会議がある時は必ずと言われる場合は、根本から治していく必要が有ります。漢方では「腸音」と言われ、腸の動きに伴って発する音を言います。
      | 俗には「腹鳴」や「グル音」とも言われています。
    p
      | 「お腹のはり」ですが、ここで取りあげる「お腹のはり」は、「腹部の膨満感」であって外見上、腹部が隆起していると言うものではありません。あくまで、｢ガスでお腹が張った感じがする」と言う「膨満感」です。
    h4.topic 腹なりの原因とは
    p
      | 「腹なり」の原因はいろいろありますが、最も多いのは「痰濁（身体で有効利用されなかった水分）」です。
      | 日頃から冷たい飲み物を沢山飲まれたり、毎日飲酒をされたり食生活が乱れている方に多く見かけられます。
    p
      | 「お腹のはり」の原因は、早食いをする人やガムや飴をよく食べている人、日頃から便通の良くない人に多く見かけられます。
      | また、ストレスの多い方や緊張しやすい方は、「腹なり」と「お腹のはり」のどちらも出てくる方が少なくありません。
    p
      | 「お腹のはり」は、漢方では「腹部気滞」と言い、腹部の｢気の流れ」が悪くなる事で起こると考えます。腹部の気の流れが悪くなる原因には、沢山あり詳しく体質や原因を調べていく必要があります。
      | また「腹鳴（腹なり）」の原因も多く、「脾胃気虚」「脾腎陰虚」「腸胃湿熱」「肝脾不和」・・・などがあげられますが、中でも多いのは「痰湿中阻」や「中焦寒湿」です。
      | 根本的な体質が主な原因の場合も有りますが、やはり食生活や生活習慣が良くないために起こっているというのも多いようです。
    h4.topic 最低限守ること
    p
    ol
      li 食事は良く噛んでゆっくり食べる
      li 食べ物を噛む時は唇を閉じて噛むようにする
      li お喋りしながらダラダラと食べない
      li 飲み物はゆっくり飲むようにする
      li 過剰な水分摂取はしない
      li 冷たい物の飲食はしない
      li 規則正しい生活を送り毎日排便するリズムをつける
    | 以上は最低限まもりましょう。
    br
    | また、飲酒をされる方は、大事な会議のある前夜は飲酒をしないように心がけ、寝る前の間食も止めましょう。特に、ビールやチューハイ・ハイボールなど、水分量の多いお酒は禁物です。
    p
    h4.topic 腹なり・お腹のはりの治療でよく使われる漢方薬
    p
    ul
      li 補中益気湯
      li 苓桂朮甘湯
      li 小柴胡湯
      li 逍遙散
      li 二陳湯
      li 平胃散
      li 茵陳蒿湯
      li 六君子湯
    p
    p
      | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      | 当店で取扱をいたしております漢方薬は全て医薬品です
    p
      | 漢方薬は自己判断で服用しないようにしましょう。
      | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
      | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
| {% endblock %}
