| {% extends 'base.html' %}
| {% block content %}
section#main
  section.content
    h3.heading 肛門掻痒・肛門のかゆみ
    p
      | 人前では掻きたくても掻けないし、また掻けない状況にあるときに限って、容赦のない激しいかゆみに襲われたりします。デリケートゾーン専用のかゆみ止めを使ってもよくならず、勇気を出して医療機関を受診して塗り薬をもらっても薬が切れるとまたかゆみに襲われ･･･。
      | こんな経験をしている方も少なくないと思います。
    p
      | 肛門掻痒は、肛門周囲のかゆみの総称です。
      | 痔核や痔瘻、真菌や回虫・蟯虫によるものなど原因は様々ですが、ここではそうした原因が見つからない慢性的な肛門の痒みについて取りあげます。
    h4.topic 漢方での考え方
    p
      | 漢方では、痒み（かゆみ）を「風（ふう）」と考えます。
      | ｢風（ふう）」と言うのは、自然界で見る「風（かぜ）」です。自然界でも風が吹く場合は、必ずその原因があります。
      | 例えば、気圧や気温の差もそうですし、物体が動くときにも風が起こります。
    p
      | 身体の中でも同じで、かゆみである｢風（ふう）」が生じるにはそれなりの原因があるのです。
      | 肛門掻痒（肛門のかゆみ）の場合は、「体内の不要な熱」や「湿（体に不必要な水分）」の発生や「血（けつ：からだ全体の器官を滋養する栄養物質。有形な物）」が不足する「血虚（けっきょ）」という状態になっているのが原因としてあげられます。
    p
      | 「体内の不要な熱」が原因ですと、肛門の灼熱感がありかゆみも激しくなります。ひどいと掻きすぎて出血する事もしばしばあるでしょうし、
      | 「湿（身体に不必要な水分）」が原因ですと、肛門のかゆみに伴って肛門が常に湿っているとか白くふやけているという事も見られるでしょう。
      | また、血虚（けっきょ）が原因ですと、皮膚の乾燥を伴う強いかゆみが見られるでしょう。
      | 漢方では、こうした要らない熱や湿（身体に不必要な水分）、血虚（けっきょ）がどのような原因で生じているのかを調べ、その人の体質や症状に合わせた漢方薬を選んで治療します。
    h4.topic 肛門掻痒・肛門のかゆみの治療でよく使われる漢方薬
    p
    ul
      li 竜胆瀉肝湯
      li 当帰飲子
      li 消風散
      li 温清飲
      li 黄連解毒湯
      li 防風通聖散
      li 黄連阿膠湯
    p
    p
      | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      | 当店で取扱をいたしております漢方薬は全て医薬品です
    p
      | 漢方薬は自己判断で服用しないようにしましょう。
      | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
      | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
| {% endblock %}
