| {% extends 'base.html' %}
| {% block content %}
section#main
  section.content
    h3.heading 慢性下痢・過敏性腸症候群
    p
      | 下痢には、突然生じる「急性下痢」と、毎日続いたり再発を繰り返す「慢性下痢」があります。
      | 「急性下痢」の殆どは、飲食の不摂生が原因だったり、細菌やウイルスが原因だったりで、一過性で終わる場合が殆どです。
      | また、「急性下痢」の場合は、西洋医学による治療でも容易に治す事が可能です。
      | 厄介なのは、「慢性下痢」です。
      | 特に、自律神経の乱れにより「過敏性腸症候群」となると、外出したり電車に乗ったり、人前に出たりすると腹痛を伴い便意が生じます。
      | これでは、毎日の生活に支障が出てしまいます。
      | 「慢性下痢」は、西洋医学が苦手とする疾患ですが、漢方医学では得意とする疾患です。（但し、漢方医学でも難治なケースはあります）
    h4.topic 慢性下痢の分類
    p
      b 肝脾不和（かんぴふわ）
    p
      | 精神的な緊張により肝気鬱結（かんきうっけつ）を生じる事で起こります。
      | 俗に言われる「神経性下痢」です。「過敏性腸症候群」には、このタイプが多くなります。
    p
      b 脾虚（ひきょ）
    p
      | 脾虚というのは、消化器系全体のエネルギー不足で、胃も腸も膵臓も器質的には悪くないのですが、全てがきちんと働いてくれない状態を言います。
      | 先天的な脾虚体質もありますし、食生活や生活習慣が悪く、長期にわたって脾胃（消化器系）に負担をかけたために脾虚体質になることもあります。
      | 「水を飲んでも太る」と言う方も、「いくら食べても太らない」と言う方も、この脾虚体質になります。
    p
      b 腎陽虚（じんようきょ）
    p
      | 老人や虚弱体質の方に多く見られますが、近年では深夜勤務や昼夜逆転の生活をされている若い方にも、多く見られるタイプです。
      | 生命のエネルギーでもある「腎精」が消耗する事で、「腎陽虚」が起こる事でとなり「下痢」が長期間続きます。
      | 下痢をする事で、「気・血・精」が不足し、ますます「腎精不足」が起こるため、体力は消耗し下痢は長引いてしまいます。
      | （漢方でも難治に下痢です）
      | 厳密には、「腎陽虚」のみではなく、「脾腎陽虚（ひじんようきょ）」という状態になっています。
    h4.topic 漢方による治療法
    p
      | ①の場合は、肝気の流れを良くして、「肝気鬱結（かんきうっけつ）」が生じないようにします。
      | ②の場合は、脾胃（消化器系）の働きを良くし、湿（身体に不必要な水分）が発生しないようにします。
      | ③の場合は、脾と腎の陽気を補い、脾胃（消化器系）を温めて働きを正常に戻します。
    h4.topic 慢性下痢・過敏性腸症候群の治療でよく使われる漢方薬
    p
    ul
      li 扶陽理中（附子理中湯）
      li 六君子湯
      li 参苓白朮散
      li 小建中湯
      li 牛車腎気丸
      li 逍遙散
      li 鹿茸大補湯
      li 小柴胡湯
    p
    p
      | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      | 当店で取扱をいたしております漢方薬は全て医薬品です
    p
      | 漢方薬は自己判断で服用しないようにしましょう。
      | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
      | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
| {% endblock %}
