| {% extends 'base.html' %}
| {% block content %}
section#main
  section.content
    h3.heading のぼせ・ほてり
    p
      | のぼせやほてりは、身体のある部分に熱感を自覚することを言います。
      | 但し、感染症による発熱・周りの環境が暑い所での「のぼせ」や「ほてり」は、ここで言いますのぼせ・ほてりとは区別します。
    p
      | 例えば、緊張すると急に胸から上に熱感を感じたり、甚だしければ他覚的に紅潮や熱気が見られる場合もあります。
      | また、女性で多いのが更年期によるのぼせやほてりです。
      | のぼせは、顔面・頸部など身体上部への熱気の上昇を指し、ほてりは、頬や手の平、足の裏と言った固定部位に現れる熱感を指します。
      | 両方とも同時に起こることも有りますし、一方しか現れない事もあります。
    p
      | これらは、体内に発生した内熱が、手足や背中、上焦（胸から上）に影響を及ぼすために発生します。
      | 体内に内熱が発生する原因は様々ですが、男性に多いのは、飲酒や高カロリーの食事など、飲食に原因がある場合をよく見かけます。
      | 女性に多いのは、出産によるものや栄養バランスを無視したダイエットなどが原因になっている事が多いようです。
    p
      | 最近では、男性・女性に関係なくストレスが原因で起こっている場合もよく見かけられます。
      | また、お仕事などで、昼夜が逆転するような生活をされている方や、加齢や過労などにより、陽気不足が生じて、体の陰陽の調和が崩れることでのぼせやほてりが現れている事も多くなっています。
      | この場合、体はとても冷え性なのにのぼせたり熱感が現れたりします。
    p
      | 漢方では、どういう体質でまた何が原因で内熱（実熱または虚熱）が発生しているのか、と言うことを見極めて処方を決定します。
      | ですので、かなり色々な処方が使われます。
    h4.topic のぼせ・ほてりの治療でよく使われる漢方薬
    p
    ul
      li 桃核承気湯
      li 桂枝加竜骨牡蠣湯
      li 黄連阿膠湯
      li 柴胡加竜骨牡蠣湯
      li 知柏地黄丸
      li 加味逍遙散
      li 天王補心丸
    p
    p
      | 実際の治療には、体質によりこれらの漢方薬や、他の漢方薬を合わせて使用します。
      | 当店で取扱をいたしております漢方薬は全て医薬品です
    p
      | 漢方薬は自己判断で服用しないようにしましょう。
      | 服用の際には、必ず信頼のおける漢方の専門家へ御相談ください。
      | 安全な漢方薬でも、使い方次第では危険な薬になってしまいます。
| {% endblock %}
