<!DOCTYPE html>
<html dir="ltr" lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="Keywords" content="漢方,漢方薬,漢方療法,口臭,専門薬局,漢方相談,漢方治療,東洋医学,口臭治療">
    <meta name="Description" content="漢方のセイシンドーでは、メール・ＦＡＸによるあらゆる疾患の無料漢方相談が好評です。
    漢方薬・漢方は病名や症状で選ぶのではなく、漢方（漢方薬）を服用される方の体質に合わせて漢方処方（漢方薬）を選びます。
    また、漢方薬は漢方医学的考え方を元にして使うべきであり、決して西洋医学的な考え方で使ってはなりません。
    漢方薬は正しく使えば副作用もなく、身体にやさしい薬です。素人判断で漢方薬を使われますと効かないだけでなく副作用が出ることもあります。
    漢方（漢方薬）の事なら漢方療法専門・漢方のセイシンドーへお気軽にご相談下さい。漢方・漢方薬のご相談は、漢方のセイシンドーへ">
    <title>漢方・漢方薬のご相談は、漢方専門　漢方のセイシンドー</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma_0.7.5.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen">
    <script src="js/jquery1.7.2.min.js"></script>
    <script src="js/script.js"></script>
  </head>

  <body id="subpage">
    <header id="header">
    	<h1></h1>
      <!-- ロゴ -->
    	<div class="logo">
    		<a href="index.html">
          漢方医療専門 漢方のセイシンドー<br>
          <span>漢方のセイシンドーでは、難解な漢方・漢方薬について皆様にわかりやすく解説いたしております。</span>
        </a>
    	</div>
    	<!-- / ロゴ -->
    	<!-- 電話番号+受付時間 -->
      <div class="info">
    		<p class="tel"><span>電話:</span> 077-563-4702</p>
    		<p class="open">受付時間: 平日 AM 9:00 ～ PM 9:00</p>
    	</div>
    	<!-- / 電話番号+受付時間 -->
    </header>

  <!-- メインナビゲーション -->
    <nav id="mainNav">
    	<div class="inner">
      	<a class="menu" id="menu"><span>MENU</span></a>
    		<div class="panel">
        	<ul>
        		<li class="active"><a href="index.html"><strong>トップページ</strong><span>Top</span></a></li>
    				<li><a href="notification.html"><strong>お知らせ</strong><span>Notification</span></a></li>
    				<li><a href="about_kampo.html"><strong>漢方の考え方</strong><span>Kanpo</span></a></li>
    				<li><a href="guidance.html"><strong>ご購入の方法</strong><span>Guidance</span></a></li>
    				<li><a href="access.html"><strong>アクセス</strong><span>Access</span></a></li>
    				<li class="last"><a href="consulting.html"><strong>病気のご相談</strong><span>Consulting</span></a></li>
    			</ul>
        </div>
    	</div>
    </nav>
    <!-- / メインナビゲーション -->

  <div id="wrapper">
    {% block content %}{% endblock %}

    <!-- / コンテンツ -->

    <aside id="sidebar">
      <h3 class="heading">症状一覧</h3>
      <article>
        <ul class="">
          <div class="bd-snippet-preview ">
            <aside class="menu">
              <p class="menu-label">
                女性の悩み
              </p>
              <ul class="menu-list">
                <li><a>不妊症</a></li>
                <li><a>生理痛</a></li>
                <li><a>冷え性</a></li>
                <li><a>月経前症候群</a></li>
                <li><a>生理不順</a></li>
                <li><a>おりもの・帯下</a></li>
              </ul>
              <p class="menu-label">
                分類1
              </p>
              <ul class="menu-list">
                <li><a>口臭</a></li>
                <li><a>鼻臭症</a></li>
                <li><a>にきび・吹き出物</a></li>
                <li><a>ヘルペス</a></li>
                <li><a>めまい</a></li>
                <li><a>夜尿症</a></li>
                <li><a>便秘</a></li>
                <li><a>陰部の痒み</a></li>
                <li><a>膀胱炎</a></li>
                <li><a>膿栓</a></li>
                <li><a>耳なり</a></li>
                <li><a>痔</a></li>
              </ul>
              <p class="menu-label">
                分類2
              </p>
              <ul class="menu-list">
                <li><a>自律神経失調症</a></li>
                <li><a>アトピー性皮膚炎</a></li>
                <li><a>のぼせ・ほてり</a></li>
                <li><a>更年期障害</a></li>
                <li><a>パニック障害</a></li>
                <li><a>男性更年期</a></li>
                <li><a>偏頭痛・慢性頭痛</a></li>
                <li><a>慢性疲労</a></li>
                <li><a>アレルギー性鼻炎</a></li>
                <li><a>腹なり・腹の張り</a></li>
                <li><a>慢性下痢・過敏性腸症候群</a></li>
                <li><a>陰部臭</a></li>
                <li><a>肛門掻痒・肛門のかゆみ</a></li>
                <li><a>耳管開放症</a></li>
                <li><a>機能性ディスペプシア</a></li>
              </ul>
            </aside>
          </div>
        </ul>
      </article>
    </aside>
  </div>

  <!-- フッター -->
  <footer id="footer">
  	<div class="inner">
    	<!-- 左側 -->
  		<div id="info" class="grid">
  			<!-- ロゴ -->
  			<div class="logo">
  		      <a href="index.html">
              漢方医療専門 漢方のセイシンドー<br>
              <span>漢方のセイシンドーでは、難解な漢方・漢方薬について皆様にわかりやすく解説いたしております。</span>
            </a>
  			</div>
  			<!-- / ロゴ -->
  			<!-- 電話番号+受付時間 -->
  			<div class="info">
      		<p class="tel"><span>電話:</span> 077-563-4702</p>
      		<p class="open">受付時間: 平日 AM 9:00 ～ PM 9:00</p>
      	</div>
      			<!-- / 電話番号+受付時間 -->
      </div>
  		<!-- / 左側 -->
  		<!-- 右側 ナビゲーション -->
  		<ul class="footnav">
  			<li><a href="index.html">TOP</a></li>
  			<li><a href="guidance.html">お知らせ</a></li>
        <li><a href="guidance.html">特集</a></li>
  			<li><a href="member/member.html">漢方の考え方</a></li>
  			<li><a href="center.html">ご購入の方法</a></li>
  			<li><a href="list.html">アクセス</a></li>
  			<li><a href="holiday.html">病気のご相談</a></li>
  			<li><a href="contact.html">お問い合わせ</a></li>
  			<li><a href="about.html">当サイトについて</a></li>
  		</ul>
  		<!-- / 右側 ナビゲーション -->
  	</div>
  </footer>
  	<!-- / フッター -->
  Copyright(c) 漢方のセイシンドー. All Rights Reserved.

  </body>
</html>
