{% extends 'base.html' %}

{% block content %}
  <section id="main">
    <section class="content">
      <h3 class="heading">なぜ相談が必要なのか</h3>
      <p>
        漢方薬は疾患名や症状だけで選んで服用する薬ではありません。<br>
        かと言って、「がっちりした体格」や「ほっそりした体格」など、体格だけでも判断できるものでもありません。
      </p>
      <p>
        店頭に来られ実際に望診をすればある程度の簡単な判断はできますが、ネット上ではそれが不可能です。
        店頭に来られた時と同じようにネット上で判断するには、細かな部分までの問診が必要になります。
      <p>
      </p>
        詳細はこちらをご覧ください: <a href="/necessity">なぜ、体質に合っているか？の確認が必要なのか</a>
      </p>

      <h3 class="heading">メールによるご相談</h3>
      <p>
        メールによるご相談は年中無休で行っております。<br>
        <a href="mailto:ms@seisindo.com?Subject=メール漢方相談">ms@seisindo.com</a>
      </p>
      <p>
        当店ではメールマガジンは発行しておりませんし、今後発行予定も一切ありません。
        勝手にメールマガジンなど販売目的のメールや購入を促すメールを送りつけるような事は絶対にありませんので、どうぞ安心してご相談下さい。
      </p>
      <p>
        メールアドレスの記載ミスにより、ご相談メールを頂いても返信出来ない事が多く見かけられます。
        メール送信の際には、今一度ご自分のメールアドレスをお確かめ下さいますようお願いいたします。
        <br>
        携帯・スマートフォンからのメールをご利用される方で、迷惑メールフィルターを設定しておられる方は、「迷惑メール設定あり」とご記入ください。
      </p>

      <h4 class="topic">24時間以内に返事が来ない場合</h4>
      <p>
        迷惑メールに判定されている可能性があります、迷惑メールフォルダに入っていないかご確認ください。
        それでも見つからない場合には、お電話またはFaxでご連絡下さい。<br>
        電話番号: 077-563-4702<br>
        Fax: 077-563-9716<br>
      </p>

      <h3 class="heading">電話・Faxでのご相談</h3>
      <p>
        お電話でのご相談は、一ヶ月以内に当店にて漢方薬をご購入され既に服用されている方、問診票を返送されて診断結果をお受け取り頂いた方のみとなっております。
      </p>
      <p>
        初めてのご相談の場合には、必ず問診票に記入して頂いておりますので、先ずは問診票のお送り先と連絡方法（メール・ＦＡＸ・郵送）をご連絡下さい。
      </p>
      <p>
        電話番号: 077-563-4702<br>
        「発信者番号非通知」の場合はつながりません。お電話をおかけの際は、「１８６」をダイヤルしてからおかけ下さい。
      </p>

      <h3 class="heading">店頭でのご相談</h3>
      <p>
        店頭でのご相談は、十分に時間をかけて行いますので、完全予約制になっております。<br>
        必ずご予約の上でお越し下さい。（１回３０分～１時間程度）
      </p>
      <p>
        定休日: 月曜日（臨時休業あり）<br>
        営業時間: AM 9:00 〜 PM 5:00<br>
        定休日・営業時間外でもご予約は可能ですので、ご予約の際にお尋ね下さい。<br>
        電話番号: 077-563-4702
      </p>

      <h3 class="heading">その他のご相談方法</h3>
      <p>
        Skypeをつかったビデオ通話によるご相談も承っております。
        まずはメールにてお問い合わせください。
      </p>
      <p>
        郵送によるご相談も受け付けております。
        下記の住所までハガキまたは手紙でお送りください。<br>
        <strong>〒525-0066 滋賀県草津市矢橋町23-93</strong><br>
        以下の内容を必ず記載ください。
        <ul>
          <li>お名前</li>
          <li>問診票の送付先住所</li>
          <li>大まかな相談内容</li>
        </ul>
      </p>

      <h3 class="heading">無料出張相談</h3>
      <p>
        漢方相談をご希望の方4~5人以上が集まって頂き、かつご相談できる場所をご提供頂ければ、全国どこへでも無料出張相談にお伺いします。<br>
        詳しくは、メールまたはお電話でお尋ねください。
      </p>
    </section>
  </section>
{% endblock %}\
