{% extends 'base.html' %}

{% block content %}
<section id="main">
  <section class="content">
    <h3 class="heading">なぜ、体質に合っているか？の確認が必要なのか</h3>
    <p>
      漢方薬はそもそも疾患名や症状だけで選んで服用する薬ではありません。
      そうかと言って、「がっちりした体格」や「ほっそりした体格」など、体格だけでも判断できるものでもありません。
    </p>
    <p>
      店頭に来られ実際に望診をすればある程度の簡単な判断は出来るでしょうが、ネット上ではそれが不可能です。
      店頭に来られた時と同じようにネット上で判断するには、細かな部分までの問診が必要になります。
    </p>

    <h4 class="topic">漢方薬を選ぶのは、料理の時に包丁を選ぶのと同じ</h3>
      <p>
        例えば、リンゴの皮をむくのに大きな出刃包丁や刺身包丁を使うと怪我をしますよね。
        また、鯛を３枚おろしにしてお頭などをあら煮にするとき、果物ナイフを使うとどうでしょう？これもまた怪我の元です。
        それぞれに合った包丁を使ってこそ、見た目も綺麗で美味しい料理が出来るわけです。
        漢方薬を選ぶのも同じです。選ぶ我々は職人です。
        一人一人の体質を見極め、その状態に合った漢方薬を使ってこそはじめて漢方薬が生きてくるのです。
      </p>
      <p>
        雑誌やネットで「自分にあった漢方薬」を自分で選ぶのも悪くはないでしょう。
        但し、それで副作用が出たり治らなかったりしても「漢方薬」が悪いのではありません。選んだあなたの判断が間違っていただけです。
        はじめてリンゴの皮をむく人に、「リンゴの皮をむくには果物ナイフを使ってください」と言う情報を与えてくれるのは、雑誌やネットです。
        もっと調べると、「むくときに手を滑らせないように注意してください」という事まで調べることが出来るでしょう。
        この状態でリンゴの皮をむくと上手くむける人も出てきますし、指を切ったり怪我をする人も出てきます。
        また、皮はむけたけど、リンゴがガタガタで見た目は変？って言う人も出てくると思います。
        これが漢方で言えば、「効いた人」もいれば「効かなかった人」もいるし、と言う事になるのです。
        効かなかった人なら良いですが、副作用が出たとなると「お気の毒」としか言いようが有りません。
        また不幸な方は、この副作用を「メンゲン（好転反応）」と思い込んでそのまま服用され、更にひどくされる方もおられます。
      </p>
      <p>
        折角、漢方薬を使って治そうと「一念発起」されたのですから、このようなことがないように、漢方薬の服用時は必ずご相談頂きたいのです。
      </p>
  </section>
</section>
{% endblock %}\